<div>
 <div *ngIf="mostrar" class="card">
    <div class="container">
      <h4>
       <b>{{ persona.nombre }}</b>
      </h4>
      <p>{{ persona.datos }}</p>
    </div>

  </div>

  <div class="btn">
    <button class="boton" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
  </div>
</div>
